extends layout

block content
    div.room
        h1.title
            a(href="/")= title

        form.sign-in#sign-in
            p Enter a username
            input#username(placeholder="Username")
            button#join(type="submit") Join
        div.play#play
            div.play-col
                - var instrument_list = ['synth', 'clarinet', 'violin', 'chimes']
                - for(var i=0; i<instrument_list.length; i++){
                    div.instrument
                        h4= instrument_list[i]
                        button(id="play-#{instrument_list[i]}-261").play-note C
                        button(id="play-#{instrument_list[i]}-293").play-note D
                        button(id="play-#{instrument_list[i]}-330").play-note E
                        button(id="play-#{instrument_list[i]}-350").play-note F
                        button(id="play-#{instrument_list[i]}-392").play-note G
                        button(id="play-#{instrument_list[i]}-440").play-note A
                        button(id="play-#{instrument_list[i]}-493").play-note B
                        button(id="play-#{instrument_list[i]}-523").play-note C
                        button(id="#{instrument_list[i]}").set-keyboard Set to keyboard
                - }
                    h4 Kick
                    button#play-kick-261.play-note Kick

            div.legend
                h3 Legend
                ul
                    li keys = 1-8
                    li Octave +/- = z/x
                    li Sharp (#) = v
                    li Flat (b) = c
                    li kick = space

        div
            ul#user-list

block js
    script.
        roomId = '#{roomId}';

    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/timbre/index.js")
    script(src="/javascripts/instruments.js")
    script(src="/javascripts/room.js")
